.container {
    background: #000;
    width: 95%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

h1{
    display: inline-block;
    color: black;
    align-self:first baseline;
    background-color: greenyellow;
}

.item {
    background-color: greenyellow;
    width: 50px;
    height: 50px;
    border: 1px dashed salmon;
}

.item4 {
    align-self: last baseline;
    margin-bottom: 10px;
}